body, body * {
	@extend %init-page;
} 

.restore {
	padding: 30px 20px 100px;

	@include media("t_small") {
		padding: 30px 40px 120px;
	}
	@include media("d") {
		max-width: 1280px;
		margin: 0 auto;
	}

	.restore_title {
		text-transform: uppercase;
	}
}
.restore_block {
	@include flex (flex-start, column);
	align-items: center;
	width: 100%;
	margin-top: 60px;
	padding: 0 20px;

	@include media("t_small") {
		border-radius: 4px;
	  	border: solid 4px #f6fafb;
	  	padding: 21px 36px 36px;
		width: 320px;
		margin: 95px auto 0;

	}
}

.restore_block-title {
	text-align: center;
	margin-bottom: 15px;
}

.restore_block-input {
	border-radius: 4px;
	background-color: #f6fafb;
	border: none;
	outline: none;
	height: 40px;
	line-height: 30px;
	padding: 0 20px;
	width: 100%;
	margin-bottom: 20px;

	&.is-invalid {
		border: 1px solid red;
	}
}

.restore_block-submit {
	width: 100%;
	border: none;
	outline: none;
}





