%soft-transition {
	-webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

%a-style {
	text-decoration: underline;
	@include font-text();
	color: $main-dark;
}

%pagi-element {
	@include font-header();
	margin: 0 5px;
	height: 30px;
	border-radius: 2px;
	line-height: 30px;
	padding: 0 12px;
	cursor: pointer;
}

%category-icon {
	margin: 0 auto;
	width: 46px;
  	height: 46px;
  	line-height: 46px;
  	border: solid 1px $extra-grey-4;
  	border-radius: 50%;
}