//////////////////////////  MY  VARIABLES

// Typography
$header-font: 'Proxima Nova Rg';
$header-size-1: 24px;
$header-size-2: 22px;
$header-size-3: 18px;
$header-size-4: 16px;
$text-size-1:   14px;
$text-size-2:   12px;



//  Colors
$main-light:         #fff;
$main-dark:          #323232;
$accent-light-blue:  #084599;
$accent-dark-blue:   #023881;
$accent-light-green: #37DB67;
$accent-dark-green:  #24BF51;
$extra-grey-1:       #f6fbf9;
$extra-grey-2:       #f7f7f7;
$extra-grey-3:       #f2f2f2;
$extra-grey-4:       #ccc;
$extra-grey-5:       #666;
$extra-grey-6:       #4d4d4d;
$gradient-from:      #084599;
$gradient-to:        #05a8d4;

// Lists
$list-size:              14px;
$mark-list-line-height:  1.86;
$num-list-line-height:   1.57;
$mark-list-padding-left: 14px;
$num-list-padding-left:  5px;

// Include Media
$breakpoints: (phone: 320px, big_phone: 640px, tablet: 960px, small_desktop: 1100px, desktop: 1280px);

$media-expressions: (
                        /**
                         * Basic resolutions
                         */

                        // Extended media
                            'm':  'all and (min-width: 1px)',
                            't_small':  'all and (min-width: 600px)',
                            't':  'all and (min-width: 960px)',
                            'd': 'all and (min-width: 1280px)',
                            'd-low': 'all and (min-width: 1280px) and (max-height: 740px)',

                        // Limited media
                            'm-only':  '(min-width: 1px) and (max-width: 599px)',
                            't-only':  '(min-width: 960px) and (max-width: 1279px)',
                            'm-t-together':  '(min-width: 1px) and (max-width: 1279px)',
                            'd-only': '(min-width: 1280px)',
                            'm-special': '(min-width: 1px) and (max-width: 480px)',
                            'm-t-special':  '(min-width: 481px) and (max-width: 1279px)',
					);

