// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

//////////////////////////  MY  VARIABLES

// Typography
$header-font: 'Proxima Nova Rg';
$header-size-1: 24px;
$header-size-2: 22px;
$header-size-3: 18px;
$header-size-4: 16px;
$text-size-1: 14px;
$text-size-2: 12px;



//  Colors
$main-light: #fff;
$main-dark: #323232;
$accent-light-blue: #084599;
$accent-dark-blue: #023881;
$accent-light-green: #37DB67;
$accent-dark-green: #24BF51;
$extra-grey-1: #f6fbf9;
$extra-grey-2: #f7f7f7;
$extra-grey-3: #f2f2f2;
$extra-grey-4: #ccc;
$extra-grey-5: #666;
$extra-grey-6: #4d4d4d;

// Lists
$list-size: 14px;
$mark-list-line-height: 1.86;
$num-list-line-height: 1.57;
$mark-list-padding-left: 14px;
$num-list-padding-left: 5px;

