.single-btn {
	@extend %button;

    &.mod_blue {
	    background-color: $accent-light-blue;
    }
    &.mod_blue:hover {
        background-color: $accent-dark-blue;
    }

    &.mod_green {
        background-color: $accent-light-green;
        box-shadow: 0 3px 6px 0 $accent-dark-green;
    }
    &.mod_green:hover {
        background-color: $accent-dark-green;
        box-shadow: none;
    }

 	&.mod_white {
        background-color: $main-light;
        color: $accent-light-blue;
    }
    &.mod_white:hover {
		color: $accent-dark-blue;
    }
    &.mod_transparent {
        margin: 0 auto;
        border: 2px solid $main-light;
    }

    &.mod_140 {
        width: 140px;
    }   
    &.mod_160 {
		width: 160px;
    }
    &.mod_170 {
		width: 170px;
    }
    &.mod_180 {
		width: 180px;
    }
    &.mod_240 {
		width: 240px;
    }
}


