.single-btn {
	@extend %button;

    &.mod-blue {
	    background-color: $accent-light-blue;
    }
    &.mod-blue:hover {
        background-color: $accent-dark-blue;
    }

    &.mod-green {
        background-color: $accent-light-green;
        box-shadow: 0 3px 6px 0 $accent-dark-green;
    }
    &.mod-green:hover {
        background-color: $accent-dark-green;
        box-shadow: none;
    }

 	&.mod-white {
        background-color: $main-light;
        color: $accent-light-blue;
    }
    &.mod-white:hover {
		color: $accent-dark-blue;
    }

    &.mod-140 {
        width: 140px;
    }   
    &.mod-160 {
		width: 160px;
    }
    &.mod-170 {
		width: 170px;
    }
    &.mod-180 {
		width: 180px;
    }
    &.mod-240 {
		width: 240px;
    }
}


