.footer {
	@include background-gradient(81deg);
	margin: 0 auto;
	max-width: 1280px;
	height: 200px;
	text-align: center;
	color: $main-light;
	padding-top: 30px;
	.btn-green {
		width: 170px;
		margin-bottom: 30px;
	}
	a {
		color: $main-light;
	}
	.authors {
		margin-top: 30px;
		@include flex(center);
		.author {
			width: 103px;
			text-align: center;
		}
	}
}