.radio {
  display: none;
}

.radio-custom {
  width: 20px;
  height: 20px;
  border: 1px solid $extra-grey-4;
  position: relative;
  border-radius: 50%;
  background-color: $main-light;
}
.radio-custom,
.radio-label {
  display: inline-block;
  vertical-align: middle;
  cursor:       pointer;
}

.radio-label {
  padding-left: 10px;
}

.radio:checked + .radio-custom {
  border: 1px solid $accent-light-blue;
}

.radio:checked + .radio-custom::before {
  content: "";
  display: block;
  position: absolute;
  left:             4px;
  top:              4px;
  width:            10px;
  height:           10px;
  background-color: $accent-light-blue;
  border-radius: 50%;
}
