.main-menu-wrapper {
    @include background-gradient(85deg);
	@include media(">=phone", "<=small_desktop") {
		display: none;
	} 
	height:     120px;	
	margin:     0 auto;
	padding:    7px 40px;
	box-shadow: 0 3px 6px 0 rgba(2, 56, 129, 0.26);
    a {
    	color: $main-light;
    }
	.main-menu_menu-block {
		@include flex();
		@include font-text();
		height:      36px;	
		line-height: 36px;		
		.main-menu_menu-block_trip-transport {
			@include flex();
			.trip-transport_item {
				margin-right: 30px; 
				@include media(">tablet", "<=small_desktop") {
					margin-right: 15px;
				}  
			}
		}
		.mod_trip-user-item {
			margin-right: 50px;
			@include media(">tablet", "<=small_desktop") {
				margin-right: 18px;
			}

		}
		.main-menu_menu-block_right-menu {
			@include flex();
		}
	}
	.main-menu_operation-block {
		margin-top: 17px;
		display:    flex;
		height:     40px;
		.main-menu_operation-block_search-field {
			@include flex;
			flex:              1;
			margin-right:      30px;
			.search-tour {
				flex:              1;
				color:             $main-light;
				background-image:  linear-gradient(to right, #83a4cd, #7ec3de);
				padding-left:      20px;
				border:            none;
				&::-webkit-input-placeholder {color:$main-light;}
				&::-moz-placeholder          {color:$main-light;}
				&:-moz-placeholder           {color:$main-light;}
				&:-ms-input-placeholder      {color:$main-light;}
				&:focus {
					border:  none;
					outline: none;
				}
			}
			.search-sign {
				background:    #7ec3de;
				color:         $main-light;
				text-align:    center;
				line-height:   40px;
				width:         34px;
				padding-right: 20px;
				font-size:     14px;
				cursor:        pointer;
				border:        none;

			}
		}
	}
}

.user {
	.user-foto {
		width:         26px;	
		height:        26px;
		border-radius: 50%;	
	}
	.user-name   {
		display: inline-block;
		margin-left: 5px;
	}
	a {
		text-decoration: none;
	}
}