.mainMenu-wrapper {
    @include background-gradient(85deg);
	@include media(">phone", "<=tablet") {
		display: none;
	} 
	height: 120px;	
	margin: 0 auto;
	padding:7px 40px;
	box-shadow: 0 3px 6px 0 rgba(2, 56, 129, 0.26);
    a {
    	color: $main-light;
    }
	.mainMenu_menuBlock {
		@include flex();
		@include font-text();
		height: 36px;	
		line-height: 36px;		
		.mainMenu_menuBlock_tripTransport {
			@include flex();
			.tripTransport_item {
				margin-right: 30px; 
				@include media(">tablet", "<=small_desktop") {
					margin-right: 15px;
				}  
			}
		}
		.mod_tripUserItem {
			margin-right: 50px;
			@include media(">tablet", "<=small_desktop") {
				margin-right: 18px;
			}

		}
		.mainMenu_menuBlock_rightMenu {
			@include flex();
		}
	}
	.mainMenu_operationBlock {
		margin-top: 17px;
		display: flex;
		height: 40px;
		.mainMenu_operationBlock_searchField {
			flex: 1;
			margin-right: 30px;
			display: flex;
			opacity: 0.5;
			background-color: $extra-grey-2;
			.search-tour {
				color: $main-light;
				width: 97%;
				padding-left: 20px;
				border: none;
			}
			.search-sign {
				color: $main-light;
				width: 3%;
				text-align: center;
				line-height: 40px;
				font-size: 14px;
				cursor: pointer;
			}
		}
	}
}

.user {
	.user-foto {
		width: 26px;	
		height: 26px;
		border-radius: 50%;	
	}
	.user-name   {
		display: inline-block;
	}
	a {
		text-decoration: none;
	}
}