.mobile-header-menu {
	@include background-gradient(76deg);
	@include media(">tablet") {
		display: none;
	} 
	max-width: 960px;
	height: 80px;
	line-height: 80px;
	padding: 0 20px;
	@include flex();
	color: $main-light;

	.main-button {
		cursor: pointer;
	}
}

//
//.mobile-main-menu {
//    overflow: auto;
//
//    width: 160px;
//    height: 240px;
//
//    .mobile-menu-items {
//        width: 700px;
//    }
//}


.mobile-menu-wrapper {
	@include background-gradient(36deg);
	display: none;
	height: 440px;
	width: calc(100% - 80px);
	padding: 100px 40px 40px;
	position: absolute;
	top: 0;
	z-index:10;
	.mobile-main-menu {
		.close img {
			position: absolute;
			right: 14px;
			top: 14px;
			width: 29px;
			height: 29px;
			color: $main-light;
			cursor: pointer;
		}
		.mobile-menu-items {
			height: 300px;
			@include flex(space-between,column);
			.mobile-trip-transport {
				height: 110px;
				@include flex(space-between,column);
			}
			a {
				color:$main-light;
			}
			.mod-240 {
				@include media(">phone", "<=400px") {
					width: 170px;
				} 
			}
		}
	}
}
