.mobileHeaderMenu {
	@include background-gradient(76deg);
	@include media(">tablet") {
		display: none;
	} 
	//max-width: 960px;
	height: 80px;
	line-height: 80px;
	padding: 0 20px;
	@include flex();
	color: $main-light;

	.mobileHeaderMenu_mainButton {
		cursor: pointer;
	}
}

.mobileMenu_wrapper {
	@include background-gradient(36deg);
	display: none;
	height: 440px;
	width: 100%;
	padding: 100px 40px 40px;
	position: absolute;
	top: 0;
	z-index:10;
	.mobileMenu {
		.mobileMenu_close img {
			position: absolute;
			right: 14px;
			top: 14px;
			width: 29px;
			height: 29px;
			color: $main-light;
			cursor: pointer;
		}
		.mobileMenu_items {
			height: 300px;
			@include flex(space-between,column);
			.mobile-trip-transport {
				height: 110px;
				@include flex(space-between,column);
			}
			a {
				color:$main-light;
			}
			.mod_240 {
				margin: 0 auto;
				@include media(">phone", "<=400px") {
					width: 170px;
				} 
			}
		}
	}
}
