.table {
	margin: 50px auto;
	max-width: 1120px;
	border: 2px solid $extra-grey-3;
	.table-header {
		height: 50px;
		background-image: $gradient-background;
		border-radius: 2px;
		color: $main-light;
	}
	.table-content {
		padding: 12px 40px 12px 30px;
		color: $main-dark;
	}
	.first {
		max-width: 600px;
		text-align: left;
	}
	.second {
		max-width: 300px;
		text-align: left;
	}
	.del-row {
		max-width: 220px;
		text-align: right;
	}
	td {
		border-top: none;
	}
}