.tripTypes_container {
		max-width: 1280px;
		margin: 0 auto;
		height: 100px;
		background-color: $extra-grey-2;
		line-height: 100px;
	.tripTypes {
		@include flex;
		align-items: center;
		margin: 0 auto;
		max-width: 940px;
		overflow-x: auto;
		overflow-y: hidden;
		@include media(">440px", "<=1056px") { 
			padding: 0 10px;
		}
		@include media(">phone", "<=440px") { 
			padding: 0;
		}
		.tripTypes_header {
			@include font-header($header-size-3);
			min-width: 140px;
		}
		.tripTypes_icons {
			@include flex(flex-end);
			line-height: 100px;
		}
	}
}

.tripCategoryIcon {
	margin: 0 12px;
	text-align: center;
		@extend %category-icon;
		.img {
			width: 24px;
			height: 24px;
		}

	&:hover {
		@include background-gradient(to bottom);

	}
	&:last-of-type {
		margin-right: 0;
	}
}

.tooltip-inner {
	@include font-header(12px);

    color: $accent-light-blue;
    background: $main-light;
    padding: 0 15px;	
    border: 1px solid $accent-light-blue;
    border-radius: 5px;
    text-align: center;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    top:0;
    left:50%;
    margin-left:-10px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:7px solid $accent-light-blue;
}
