.trip-types {
	@include flex;
	align-items: center;
	height: 100px;
	line-height: 100px;
	padding: 0 40px;
	background-color: $extra-grey-2;
	.trip-types-header {
		@include font-header($header-size-3);
	}
	.trip-types-icons {
		@include flex(flex-end);
		line-height: 100px;
	}
}





.trip-category {
	margin: 0 10px;
	text-align: center;
	.trip-category-icon {
		@extend %category-icon;
		.img {
			width: 24px;
			height: 24px;
		}
	}
	.trip-category-name {
		@include font-text($text-size-2);
		color: $accent-light-blue;
	}
}