.search_wrapper {
	padding: 25px 40px 25px;
	@include media(">=phone", "<=tablet") {
		padding: 25px 20px;
	}
	.search_title {
		text-transform: uppercase;
	}
	
	.search_main {
		@include flex;
		margin-top: 37px;
			@include media(">=phone", "<=tablet") {
			margin-top: 15px;
			flex-direction: column;
		}

		.search_filters {
			@include media(">=phone", "<=tablet") {
					display: none;
				}
			margin-right: 40px;	

			.close-search {
				text-align: right;
				margin-bottom: 15px;
				cursor: pointer;
				@include media(">tablet") {
					display: none;
				}
				.search_close {
					width: 22px;
					height: 22px;
					fill: $accent-light-blue;
				}
			}

	  		.search_filters_one-filter {
				width: 200px;
				padding: 20px;
				border-radius: 4px;
		  		border: solid 4px $extra-grey-1;
		  		margin-bottom: 20px;
		  		@include media(">=phone", "<=tablet") {
					width: 100%;
				}

		  		.one-filter_title {
		  			text-transform: uppercase;
		  			color: $accent_light_blue;
		  			margin-bottom: 20px;
		  		}
		  		.one-filter_select {
					@include font-text($text-size-2);
		  			width: 160px;
					height: 40px;
					border-radius: 4px;
					background-color: $extra-grey-1;
					color: $main-dark;
					padding: 0 20px;
					border: none;
					outline: none;
					cursor: pointer;
					@include media(">=phone", "<=tablet") {
						width: 100%;
					}
		  		}

		  		.one-filter_radio {
					list-style: none;
		  			@include media(">=phone", "<=tablet") {
						-webkit-column-count: 2; 
			            -moz-column-count: 2;
			            column-count: 2;   
					}
					.input-item {
						height: 25px;
						margin-bottom: 12px;
			  			&:last-of-type {
			  				margin-bottom: 0;
		  				}
					}

				}
	  		}
		}

		.search_results {
			flex-grow: 1;

			.search_result_mobile-header {
				margin: 15px auto 0;
				text-align: center;
				display: none;
				@include media(">=phone", "<=tablet") {
					margin-top: 15px;
					display: block;
				}
				& h2 {
					text-transform: uppercase;
					color: $accent_light_blue;
					cursor: pointer;
				}
			}

			.search_results_sort {
				@include flex;
				padding: 7px 40px 20px;
				.results_quantity {
					@include font-text(11px);
					color: $extra-grey-5;
				}
				.sort_select {
					@include font-text(11px);
					color: $main-dark;
					outline: none;
					border: none;
				}
			}

			.search_results_active-filters {
  				@include flex(space-between, row, wrap);
				border-radius: 4px;
  				border: solid 4px #f6fafb;
  				padding: 15px 40px 0;

  				.active-filters_wrapper {
  					@include flex(flex-start, row, wrap);

  					.active-filter {
  						@include font-text($text-size-2);
  						color: $main-dark;
  						margin-right: 10px;
  						margin-bottom: 15px;
  						height: 30px;
  						line-height: 30px;
  						min-width: 100px;
  						padding: 0 20px;
  						background-color: $extra-grey-1;
						.active-filter_value {
						display: inline-block;
						margin-right: 20px;
						}
  					}
  				}

				.reset-filters {
					min-width: 125px;
					height: 30px;
					.reset-filters_text {
						@include font-text($text-size-2);
  						line-height: 30px;
						color: $extra-grey-5;
						display: inline-block;
						margin-right: 20px;
						cursor: pointer;
						}
				}

				.close {
					display: inline;
					margin-top: 9px;
					width: 10px;
					height: 10px;
					cursor: pointer;
				}
  			}
			.main-view_trip-cards {
				margin-top: 40px;
			}
		}
	}
}
