.offers-block {
	@include media(">=phone", "<=tablet") { 
			padding: 0px 10px;
	}
	padding: 0 30px;
}
.trip-block {
	margin:    0 auto;
	max-width: 960px;
	.trip-block_title {
		@include     flex;
		align-items: center;
		margin:      45px 10px 35px;
		@include     media(">=phone", "<=440px") { 
			margin-top: 60px;
		}
		.trip-block_title_header {
			@include font-header($header-size-2);
			color:   $main-dark;
		}
		.trip-block_title_link {
			@include font-text;
			color:   $extra-grey-6;
			&:hover {
				cursor: pointer;
				color: $accent-light-blue;
			}
		}
		@include media(">=phone", "<big_phone") {
			@include flex(flex-start, column, no-wrap);
			align-items: flex-start;
		}
	}
	// size of trip-cards instead of display width
	.main-propositions {
		min-width: 400px;
		flex:      1;
		height:    300px;
		.trip-card_proposition {
			height: 160px;
		}
		.trip-description {
			@include flex;
		}
		.trip-description_route {
			text-align: left;
		}
		@include media(">=phone", "<=tablet") { 
				height: 380px;
				.trip-description {
					@include flex(center, column);
				}
				.mod_green {
					margin: 0 auto;
				}
				.trip-description_route {
					text-align: center;
				}
		}
		@include media(">=big_phone", "<880px") { 
				min-width: 280px;
		}
		@include media(">=400px", "<big_phone") { 
				min-width: 300px;
		}
		@include media(">=phone", "<400px") { 
				min-width: 276px;
		}
	}
	.next-propositions, .hidden-on-mobile-propositions {
		min-width: 274px;
		max-width: 300px;
		flex:      1;
		height:    380px;
		.trip-description {
			@include flex(center, column);
		}
		.mod_green {
			margin: 0 auto;
		}
		@include media(">=880px", "<=tablet") { 
			min-width: 400px;
			max-width: 500px;
		}
		@include media(">=big_phone", "<880px") { 
			min-width: 280px;
			max-width: 400px;
		}
	}
	.next-propositions {
		@include media(">=400px", "<big_phone") { 
			min-width: 300px;
			max-width: 600px;
		}
		@include media(">=phone", "<400px") { 
			min-width: 276px;
			}
	}
	.hidden-on-mobile-propositions {
		@include media(">=phone", "<big_phone") {
			display: none;
		}
	}
	.trip-block_cards {
		@include flex(center, row, wrap);
	}
}
