.swiper {
	max-width: 1280px;
	height: 500px;
	@include media('>phone', '<=736px') {
		max-width: 736px;
		height: 400px;
	}
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide_describe {
		position: absolute;
		top:35%;
		left:0;
		width: 100%;
		text-align: center;
		color: $main-light;
		.swiper-slide_describe_title {
			@include font-header(48px);
			text-transform: uppercase;
			margin-bottom: 0;
			@include media('>phone', '<=736px') {
				font-size: 30px;
			}
		}
		.swiper-slide_describe_slogan {
			@include font-header($header-size-1);
			@include media('>phone', '<=736px') {
				font-size: $header-size-3;
			}
		}
		.mod_transparent {
			margin: 0 auto;
			border: 2px solid $main-light;
		}
	}
	
}
