.swiper {
	height: calc(100vh - 120px);
	@include media('>phone', '<=tablet') {
		height: calc(100vh - 80px);
	}
	.swiper-container {
		width: 100%;
		height: 100%;
	}
	.swiper-slide_image {
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.swiper-slide_describe {
		position: absolute;
		top:35%;
		left:0;
		width: 100%;
		text-align: center;
		color: $main-light;
		.swiper-slide_describe_title {
			@include font-header(48px);
			text-transform: uppercase;
			margin-bottom: 0;
			@include media('>phone', '<=big_phone') {
				font-size: 30px;
			}
		}
		.swiper-slide_describe_slogan {
			@include font-header($header-size-1);
			margin-bottom: 25px;
			@include media('>phone', '<=big_phone') {
				font-size: $header-size-3;
				margin-top: 13px;
				margin-bottom: 15px;
			}
		}
	}
}
