.seller-page_wrapper {
	padding: 25px 40px;
	@include media(">=phone", "<=tablet") { 
			padding: 25px 20px;
	}
}
.seller-page_title {
	text-transform: uppercase;
	color: $main-dark; 
}

.seller-page {
	@include flex;
	margin-top: 37px;
	@include media(">=phone", "<=tablet") { 
		flex-direction: column;
	}

	.seller-page_categories {
		
		box-sizing: border-box;
		@include flex(flex-start, column);
		width: 208px;
		margin-right: 40px;
		@include media(">=phone", "<=tablet") { 
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}

		.seller-page_categories_title {
			text-transform: uppercase;
			color: $accent-light-blue;
			height: 40px;
			padding-left: 21px;
			border-radius: 2px;
  			border: solid 4px #f6fafb;
			margin-bottom: 20px;
			& h2 {
				line-height: 1.8;
			}
		}
		.seller-page_categories_items {
			@include flex(flex-start, column);
			@include font-text(11px);
			border: solid 4px #f6fafb; 
			padding: 10px 20px;

			.input-item {
				margin: 11px 0;
			}
		}
	}
	.seller-page_trip-cards {
		flex: 1;
		@include flex(space-between, row, wrap);

		.main-seller-trip,
		.hidden-on-mobile-seller-trip,
		.hidden-on-tablet-seller-trip {
			width: calc( (100% - 60px)/3 );
			@include media(">tablet", "<=desktop") { 
				width: calc( (100% - 30px)/2 );
			}
			@include media(">=phone", "<=tablet") { 
				width: 100%;
			}
			height: 380px;
			margin: 0 0 30px;
			.mod_green {
				margin: 0 auto;
			}
		}

		.hidden-on-tablet-seller-trip {
			@include media(">=phone", "<=desktop") { 
				display: none;
			}
		}
		.hidden-on-mobile-seller-trip {
			@include media(">=phone", "<=tablet") { 
				display: none;
			}
		}
	}
	.seller-page_pagination {
		margin: 70px auto 100px;
		@include media(">=phone", "<=tablet") { 
				display: none;
			}
	}
}