.tovar_header {
	padding: 25px 40px 0;
	@include media(">=phone", "<=small_desktop") { 
			padding: 25px 20px 0;
	}
}
.tovar_wrapper {
	padding: 0 40px 25px;
	margin-bottom: 55px;
	@include media(">=phone", "<=small_desktop") { 
			padding: 0 20px 25px;
	}
	.tovar {
		@include flex(center);
		margin-top: 40px;
		margin-bottom: 45px;
		@include media(">=phone", "<=small_desktop") { 
			flex-direction: column;
		}
		
		.tovar_describe {
			//width: 520px;
			width: 100%;
			height: 500px;
			padding-top: 40px;
			padding-right: 40px;
			border-radius: 0 4px 4px 0;
	  		border-right: solid 4px #f6fafb;
	  		border-top: solid 4px #f6fafb;
	  		border-bottom: solid 4px #f6fafb;
	  		@include media(">=phone", "<=small_desktop") { 
				order: 3; 
				border: solid 4px #f6fafb;
				border-radius: 4px;
				padding: 20px;
				height: auto;
			}

			.tovar_describe_type {
				@include font-header(14px);
				display: inline-block;
				height: 40px;
				line-height: 2.6;
				color: $accent-light-green;
				border: 2px solid $accent-light-green;
				border-radius: 5px;
				padding: 0 22px;
				margin-right: 20px;
	  			margin-bottom: 20px;
			}
	  		.tovar_describe_text {
	  			display: block;
	  			@include font-text($text-size-1);
	  			color: $main-dark;
	  		}
		}
		
		.tovar-info {
			@include flex(space-between, column);
			min-width: 240px;
			height: 500px;
			margin-left: 20px;
			@include media(">=phone", "<=small_desktop") { 
				order: 2; 
				height: 550px;
				margin-left: 0;
				margin-bottom: 40px;
			}

			.tovar-info_finance_wrapper {
				height: 180px;
				border: solid 4px #f6fafb;
				border-radius: 4px;
				margin-bottom: 20px;

				.tovar-info_finance {
					margin: 36px 16px 16px;
					background-color: #f6fafb;
					border-radius: 4px;
					@include media(">=phone", "<=small_desktop") { 
						margin: 16px;
					}

					.price {
						padding-top: 16px;
						height: 60px;
						@include font-header($header-size-2);
						color: $accent-light-blue;
						text-align: center;
					}
					.to-cart {
						width: 160px;
						margin: 0 auto;
						height: 60px;
						@include media(">=phone", "<=small_desktop") { 
							height: 80px;
							padding-top: 18px;
							border-top: 2px solid $main-light;
						}
					}
				}
			}

			.tovar-info_conditions {
				flex: 1;
				border: 4px solid #f6fafb;
				border-radius: 4px;
				padding: 0 16px;
				@include flex(center,column);

				.tovar-info_seller-info {
					flex: 1;
					@include flex(flex-start);

					.seller-foto {
						width: 40px;
						height: 40px;
						border-radius: 50%;
						margin-top: 7px;
						@include media(">=phone", "<=small_desktop") { 
							margin-top: 12px;
						}
					}
				}
				.tovar-info_conditions_item {
					flex: 1;
					border-top: 4px solid #f6fafb;

					.conditions_item_title {
						@include font-header($header-size-4);
						margin-top: 7px;
						color: $accent-light-blue;
						@include media(">=phone", "<=small_desktop") { 
							margin-top: 12px;
						}
					}
					.conditions_item_content {
						@include font-text($text-size-2);
						color: $main-dark;
					}
				}
				.tovar-info_conditions_item:first-of-type {
					border-top: none;
					margin-left: 15px;
				}
			}
		}
	}

	.tovar-section_header {
		@include font-header($header-size-3);
		color: $main-dark;
	}
	
	.tovar-reviews {
		margin: 15px 0 45px;
		border: 4px solid #f6fafb;
		padding: 0 40px;
		@include media(">=phone", "<=tablet") {
			padding: 0px;
		}

		.review_wrapper {
			@include flex;
			padding-bottom: 40px;
			padding-top: 40px;
			border-bottom: 4px solid #f6fafb;
			@include media(">=phone", "<=tablet") {
				padding: 20px;
			}

			.review_author-foto {
				margin-right: 20px;
				width: 100px;
				height: 100px;
				border-radius: 10px;
				object-fit: cover;
				@include media(">=phone", "<=tablet") {
					display: none;
				}
			}

			.review {
				flex: 1;
				.review_data {
					@include flex;
					align-items: center;
					margin-bottom: 20px;
					@include media(">=phone", "<=tablet") {
						@include flex(flex-start, column);
						align-items: flex-start;
					}

					.review_data_author-name {
						@include font-header($header-size-3);
						color: $accent-light-blue;
					}
					.review_data_date {
						@include font-text(11px);
						color: $extra-grey-5;
					}
					.mod_link-style {
						@include font-text(14px);
						color: $extra-grey-5;
						&:hover {
							color: $accent-light-blue;
						}
					}
				}

				.review_content {
					@include font-text(14px);
					color: $extra-grey-5;
				}
			}
		}

		.review_wrapper:last-of-type {
			border-bottom: none;
		}
	}
	
	.send-review_wrapper {
		margin-top: 15px;
		border: 4px solid #f6fafb;
		padding: 40px;
		margin-bottom: 45px;
		@include media(">=phone", "<=desktop") {
			padding: 20px;
			margin-bottom: 55px;
		}

		.send-review {
			@include flex;
			@include media(">=phone", "<=desktop") {
				flex-direction: column;
			}


			.send-review_content {
				flex:1;
				margin-right: 20px;
				[name="review"] {
					border: none;
					outline: none;
					width: 100%;
					height: 100%;
					background: #f6fafb;
					padding: 10px 0 0 20px;
					resize: none;
					&::-webkit-input-placeholder {
						@include font-text(11px);
						color: $extra-grey-5;
					}
					@include media(">=phone", "<=desktop") {
						height: 220px;
						margin-right: 0;
						margin-bottom: 16px;
					}
				}	
			}
			.send-review_info {
				@include flex(space-between, column);
				width: 400px;
				@include media(">=phone", "<=desktop") {
					width: 100%;
				}
				.send-review_info_input {
					height: 40px;
					border:none;
					background-color: #f6fafb;
					border-radius: 4px;
					margin-bottom: 20px;
					padding-left: 20px;
					padding-bottom: 6px;
					&::-webkit-input-placeholder {
						@include font-text(11px);
						color: $extra-grey-5;
		  
					}
					@include media(">=phone", "<=desktop") {
						height: 50px;
					}
				}
				[type="submit"] {
					border: none;
					outline: none;
					@include media(">=phone", "<=desktop") {
						height: 50px;
					}
				}
			}
		}
	}

	.gallery {
		@include flex(space-between);
		margin-top: 15px;
		margin-bottom: 45px;
		@include media(">=phone", "<=desktop") { 
				flex-wrap:  wrap;
				justify-content: flex-start;
		}

		.main-card {
			margin: 0 30px 0 0;
			width: calc( (100% - 90px)/3 );
			height: 380px;
			@include media(">tablet", "<=desktop") { 
				width: calc( (100% - 30px)/2 );
				&:nth-child(2) {
					margin-right: 0;
					margin-bottom: 20px;
				}
			}
			@include media(">=phone", "<=tablet") { 
				margin-right: 0;
				margin-bottom: 20px;
				width: 100%;
			}

			.mod_green {
				margin: 0 auto;
			}
		}
		.gallery_show-more {
		    @include flex(center, column); 
			width: 210px;
		    height: 380px;
		    border-radius: 4px;
		    border: solid 4px #f6fafb;
		    @include media(">=phone", "<=tablet") {
		    	width: 100%;
		    	height: 160px;
		    }
		    .gallery_show-more_link {
		    	width: 54px;
  				height: 54px;
  				border: solid 2px #084599;
  				border-radius: 50%;
  				margin: 0 auto 7px;
  				padding: 11px 0 0 12px;
  				cursor: pointer;
		    }
		    .gallery_show-more_text {
		    	@include font-header($text-size-1);
		    	text-align: center;
		    	color: $accent-light-blue;
		    	margin: 7px 20px 0;

		    }
		}

	}

}
