.trip-types {
		height:           100px;
		background-color: $extra-grey-2;
		line-height:      100px;
		padding:          0 40px;
		@include          media(">=phone", "<=tablet") { 
			padding: 0px 20px;
		}
	.trip-types_container {
		@include     flex;
		align-items: center;
		margin:      0 auto;
		max-width:   940px;
		overflow-x:  auto;
		overflow-y:  hidden;
		@include     media(">=phone", "<=440px") { 
			padding: 0;
		}
	}
}

.trip-types_header {
	@include   font-header($header-size-3);
	min-width: 140px;
}
.trip-types_icons {
	@include     flex(flex-end);
	line-height: 100px;
}

.tripCategory {
	margin:     0 12px;
	text-align: center;
	@extend     %category-icon;
	
	&:hover {
		@include background-gradient(to bottom);
		cursor: pointer;
		.svg-icon {
			fill: $main-light;
		}
	}
	&:last-of-type {
		margin-right: 0;
	}
}
.tripCategory_link {
	position: relative;

	.svg-icon {
		position: absolute;
		left: 10px;
		top:   9px;

		width:  24px;
		height: 24px;
		fill:   $extra-grey-4;
	}
}

.tooltip-inner {
	@include          font-header(12px);
    color:            $accent-light-blue;
    background-color: $main-light;
    padding:          0 15px;	
    border:           1px solid $accent-light-blue;
    border-radius:    5px;
    text-align:       center;
}
.tooltip-inner::before {
	position:      absolute;
	content:       ''; 
   	margin-left:   -10px;
    left:          50%; top: -16px;
    border:        10px solid transparent;
    border-bottom: 7px solid $accent-light-blue;
}
.tooltip-inner::after {
	position:      absolute;
	content:       ''; 
    margin-left:   -10px;
    left:          50%; top: -15px;
    border:        10px solid transparent;
    border-bottom: 7px solid $main-light;
}


.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
	//hide standart bootstrap arrow, because it does not work correctly
  	display: none;
}






