.modal-layout {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.7;
	z-index: 15;
}
.modal-window {
	@include flex(flex-start, column);
	display: none;
	position: fixed;
	left: calc(50vw - 210px);
	top: calc(50vh - 55px);
	width: 420px;
	z-index: 20;
	@include media(">=phone", "<=tablet") {
		left: calc(50vw - 160px);
		top: calc(50vh - 95px);
		width: 320px;
	}

	.modal-window_text {
		color: $main-light;
		text-align: center;
	}
	.modal-window_buttons {
		@include flex();
		@include media(">=phone", "<=tablet") {
			@include flex(flex-start, column);
			align-items: center;
		}
		.single-btn {
			margin-top: 20px;
		}
	}

}
.modal-close {
	@include flex(center);
	display: none;
    position:         fixed;
    right:            20px;
    top:              21px;
    z-index:          20;

    width:            21px;
    height:           21px;
    cursor:           pointer;

    .modal-close_line {
    	position: absolute;
    	background-color: $main-light;
        width: 27px;
        height: 2px;
        left:  -3px;

        &.mod_top {
            transform:        rotate(45deg);
            top:              10px;
        }

        &.mod_bottom {
            transform:        rotate(-45deg);
            bottom:           9px;
        }
    }
}