.seller-page_wrapper {
	padding: 25px 40px;
	@include media(">=phone", "<=tablet") { 
			padding: 25px 20px;
	}
}
.seller-page_title {
	text-transform: uppercase;
	color: $main-dark; 
}

.seller-page {
	@include flex;
	margin-top: 37px;
	@include media(">=phone", "<=tablet") { 
		flex-direction: column;
	}

	.seller-page_categories {
		
		box-sizing: border-box;
		@include flex(flex-start, column);
		width: 208px;
		margin-right: 40px;
		@include media(">=phone", "<=tablet") { 
			width: 100%;
			margin-right: 0;
			margin-bottom: 40px;
		}

		.seller-page_categories_title {
			text-transform: uppercase;
			color: $accent-light-blue;
			height: 40px;
			padding-left: 21px;
			border-radius: 2px;
  			border: solid 4px #f6fafb;
			margin-bottom: 20px;
			& h2 {
				line-height: 1.8;
			}
		}
		.seller-page_categories_items {
			@include flex(flex-start, column);
			@include font-text(11px);
			border: solid 4px #f6fafb; 
			padding: 10px 20px;

			.radio-switch {
				margin: 11px 0;

				& label {
					@include flex(flex-start);
				    align-items: center;
				}
			}
		}
	}
	.main-view_trip-cards {
		flex: 1;
	}
}

.seller-page_empty {
	text-align: center;
	margin: 143px auto 155px;
	@include media(">=phone", "<=desktop") { 
		margin: 86px auto 98px;
	}
}