	.main-view_trip-cards {
		@include flex(flex-start, column);

		.trip-cards_wrapper {
			@include flex(flex-start, row, wrap);
		}

		.main-trip,
		.hidden-on-mobile-trip,
		.hidden-on-tablet-trip {
			width: calc( (100% - 60px)/3 );
            margin: 0 10px 30px;
			@include media(">tablet", "<=desktop") { 
				width: calc( (100% - 30px)/2 );
                margin: 0 7px 30px;

			}
			@include media(">=phone", "<=tablet") { 
				width: 100%;
                margin: 0 0 30px;
			}
			height: 380px;
			.mod_green {
				margin: 0 auto;
			}
	}

	.hidden-on-tablet-trip {
		@include media(">=phone", "<=desktop") { 
			display: none;
		}
	}
	.hidden-on-mobile-trip {
		@include media(">=phone", "<=tablet") { 
			display: none;
		}
	}
}
.main-view_trip-cards_pagination {
	margin: 40px auto 75px;
	@include media(">=phone", "<=tablet") { 
		margin: 20px auto 35px;
	}
}
