.footer {
	@include     background-gradient(81deg);
	height:      200px;
	text-align:  center;
	color:       $main-light;
	padding-top: 30px;
	
	.single-btn {
		margin:  0 auto 30px;
	}

	.mod_footer {
		margin: 0 auto;
	}

	.user-name {
		color:   $main-light;
	}
	.footer_authors {
		@include flex(center);
		margin-top:     30px;
		
		.author {
			margin:     0 18px;
			width:      103px;
			text-align: center;
			@include media(">=phone", "<=327px") { 
				margin: 0 11px;
			}
		}
	}
}